<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="topbar">
        <a href="/logout">Logg ut</a>
    </div>

    <div class="logo">
        <a href="/">
            <img src="{{ url_for('static', filename='images/Nailicous.svg') }}" alt="Nailicous with a cursive font and a strawberry stem on the u">
        </a>
    </div>

    <div class="subtitle">
        <h1>Admin</h1>
    </div>

    <div class="admin-grid">
        <div class="admin-box">
            <h2>Bestilte timer</h2>
            <table>
                <tr>
                    <th>Bruker</th>
                    <th>Tjeneste</th>
                    <th>Dato</th>
                    <th>Tid</th>
                </tr>
                {% for time in timer %}
                <tr>
                    <td>{{ time[1] }}</td>
                    <td>{{ time[2] }}</td>
                    <td>{{ time[3] }}</td>
                    <td>{{ time[4] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="admin-box">
            <h2>Innsendte spørsmål</h2>
            <table>
                <tr>
                    <th>Navn</th>
                    <th>Email</th>
                    <th>Spørsmål</th>
                </tr>
                {% for s in sporsmal %}
                <tr>
                    <td>{{ s[1] }}</td>
                    <td>{{ s[2] }}</td>
                    <td>{{ s[3] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</body>
</html>