<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Min side</title>
</head>
<body>
    <div class="topbar">
      <a href="/logout"></a>  
    </div>

     <div class="logo">
        <a href="/">
            <img src="{{ url_for('static', filename='images/Nailicous.svg') }}" alt="Nailicous with a cursive font and a strawberry stem on the u">
        </a>
    </div>

    <div class="admin-box" style="max-width: 600px; margin: 40px auto;">
        <h2>Dine bestilte timer</h2>
        {% if timer %}
        <table>
            <tr>
                <th>Tjeneste</th>
                <th>Dato</th>
                <th>Tid</th>
          </tr>
          {% for time in timer %}
          <tr>
                <td>{{ time[0] }}</td>
                <td>{{ time[1] }}</td>
            </tr>
           {% endfor %}
        </table>
       {% else %}
      <p>Du har ingen bestilte timer.</p>

      
    </div>
</body>
</html>